/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

.white-text {
    color: white !important;
}

#main {}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Begin: Nav */
#nav {
    display: inline-block;
}

#nav li {
    position: relative;
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li>a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    display: inline-block;
}

#nav>li:hover>a {
    color: black;
    background-color: #ccc;
}

#nav .subnav {
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav:hover {
    display: inline-block;
}

#nav .subnav li a {
    color: black;
    padding: 0 16px;
    width: 100%;
    height: 40px;
}

#nav .subnav li:hover {
    background-color: #ccc;
}

#nav .nav-icon-arrowdown {
    font-size: 12px;
}

/* End: Nav */

/* Begin: Search Button */
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 16px;
    line-height: 46px;
}

/* End: Search Button */

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 16px 32px;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    left: 0;
    right: 0;
}

#slider .text-heading {}

#slider .text-decripstion {
    padding: 20px 0;
}


#content {}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    text-align: center;
    margin: 10px;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    margin: 15px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}

.band-list {}

#content .band-item {
    margin-top: 48px;
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .band-name {
    margin-bottom: 15px;
    font-size: 15px;
}

#content .band-img {
    width: 154px;
    border-radius: 4px;
}

.tour-section {
    background-color: black;
}

.tour-section .ticket-list {
    margin-top: 40px;
    background-color: white;
    font-size: 15px;
    list-style: none;
}

.tour-section .ticket-list li {
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tour-section .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 5px;
    margin-left: 15px;
}

.tour-section .sold-quantity {
    float: right;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    margin-right: 16px;
    margin-top: -3px;
}

.place-list {
    margin: 32px -8px 45px;
}

.place-item {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
    font-size: 15px;
}

.place-img {
    display: block;
    width: 100%;
}

.place-body {
    background-color: white;
    padding: 15px 16px;
}

.place-name {}

.place-time {
    margin: 15px 0;
    opacity: 0.6;
}

.place-text {
    margin-bottom: 15px;
    line-height: 1.4;
}

.buy-btn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    border: none;
}

.buy-btn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: black;
}

#footer {}

.modal {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    position: relative;
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
}

.modal-closeBtn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    color: white;
    font-size: 10px;
}

.modal-closeBtn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: black;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #009688;
    font-size: 30px;
    color: white;
    letter-spacing: 4px;
}

.modal-header-icon {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
    font-size: 15px;
}

.body-input {
    display: flex;
    margin: 15px 0;
    padding: 8px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
}

.body-payBtn {
    width: 100%;
    height: 55px;
    background-color: #009688;
    color: white;
    font-size: 18px;
    border: none;
}

.body-payBtn:hover {
    cursor: pointer;
    color: black;
    background-color: #ccc;
}

.footer-help {
    float: right;
    padding: 15px;
    margin-bottom: 15px;
}